<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage1">
  <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
    </a>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <a href="#" class="w3-bar-item w3-button">Link 4</a>
    <a href="#" class="w3-bar-item w3-button">Link 5</a>
  </nav>
  
  <!-- Navbar -->
  <div class="w3-top">
   <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a href="http://127.0.0.1:5000/#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-python w3-margin-right"></i>Data Programming </a>
    <a href="http://127.0.0.1:5000/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
    <a href="http://127.0.0.1:5000/#LineChart" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Line Chart</a>
    <a href="http://127.0.0.1:5000/index3.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Bar Chart</a>
    <a href="index2.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Pie Chart</a> 
    <a href="http://127.0.0.1:5000/#Tools" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Technology</a>
    <!-- <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a> -->
    <!-- <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="#" class="w3-bar-item w3-button">Bar Chart</a>
      <a href="#" class="w3-bar-item w3-button">Line Chart</a>
      <a href="#" class="w3-bar-item w3-button">Pie Chart</a>
    </div>
    </div> -->
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
   </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Work</a>
    <a href="#LineChart" class="w3-bar-item w3-button">Line Chart</a>
    <a href="#BarChart" class="w3-bar-item w3-button">Bar Chart</a>
    <a href="#PieChart" class="w3-bar-item w3-button">Pie Chart</a>
    <a href="#" class="w3-bar-item w3-button">Search</a>
    </div>
  </div>
  
  <!-- Image Header -->
  <div class="w3-row-padding w3-padding-64 w3-theme-l1">
    <div class="w3-container">  
    <button onclick="document.getElementById('id03').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Chart Analysis">Chart Analysis</button>
    </div>
  </div>

  <div id="id03" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id03').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Analysis Description</h4>
    </header>
    <div class="w3-container">
      <p>The Analysis shows the Distribution of Passenger Visiting San Francisco including both Domestic & International Passenger. Around 25 Millions are domestic passenger, While Asia and Europe tends to be the highest amoungs International Passenger visitng San Fransisco, US
        International Growth, Passenger coming from Asia remain to be the highest with increase of Constant 5% every year. The Airline can be more focus to expand more flights between the regions
 <a class="w3-text-teal"></a></p>
    </div>
    <footer class="w3-container w3-teal">
    </footer>
    </div>
  </div>
  

  <head>
	<meta charset="UTF-8">
	<!-- <title>Bar Chart</title> -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			{% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
        ]);

        var options = {
          title: 'Passenger Distribution across regions',
          is3D: true,
          colors: ['Blue']
        };

        var chart = new google.visualization.BarChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
	<div style="margin: 10px 0 0 10px;width: 1000px">
    <h2><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bar Chart</h2>
		
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    <p>The Analysis shows the Distribution of Passenger Visiting San Francisco including both Domestic & International Passenger. Around 25 Millions are domestic passenger, While Asia and Europe tends to be the highest amoungs International Passenger visitng San Fransisco, US</p>
  </div>

</body>  

</html>

